body {
    margin: 0;
    overflow: hidden;
}

#room {
    background-image: url('andrea-room/maxresdefault.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
}



